{% load static %}
<link rel="stylesheet" href="{% static 'syncapp/css/map.css' %}">
{% include 'header.html' %}
<div class="about-container">
  <h2>About Us</h2>
  <p>
    At Mandigo, we believe that farmers don’t get the right price for their produce after months of work.
    We often see farmers having to sell their produce for a small amount, whereas the same produce is
    sold at 10 times the price in cities.
  </p>
  <p>
    Our mission is to change this by building a data-driven platform that empowers farmers with past,
    real-time, and predicted prices. By crowdsourced data from farmers combined with official sources like
    Agmark, Mandigo provides village and district-level insights on crop prices and demand trends.
  </p>
  <p>
    With our platform, farmers can:
  </p>
  <ul>
    <li>Compare prices across nearby mandis and markets.</li>
    <li>Choose the best timing and location to sell.</li>
    <li>Identify high-value crops through trend analysis.</li>
    <li>Make smarter decisions that improve income.</li>
  </ul>
</div>
{% include 'footer.html' %}
